
body{
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(to left bottom, rgb(0, 0, 0), rgb(43, 41, 41), darkblue);
}
p{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: blue!important;
    

} 
h4{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    color: lightblue !important;
    margin-bottom: 1em;

}
h1{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 5em;
    color: royalblue !important;
    margin-bottom: 1em;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid lightblue;
    border-radius: 100px;
}
.result{
    background-color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 300px;
}
#img1{
    object-fit: cover !important;
    height: 100% !important;
    width: 100% !important;
    
}
button{
    
    border: 5px solid royalblue;
    color:rgb(9, 255, 0);
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2em;
    border-radius: 50px;
    margin: 20px;
    background-color: darkred;

}
button:active{
    transform: scale(0.98);
}
button:focus{
    outline: none;
}
button:hover{
    color:rgb(51, 65, 70);
}